    <%= form_for(current_user.user_retweets.find_by(retweet_id: micropost.id),
        html: { id: "unRetweet_form_" + micropost.id.to_s, method: :delete },
        remote: true) do |f| %>
      <span class="glyphicon glyphicon-retweet" data-micropost="<%= micropost.id %>"<% if current_user == micropost.user %> style="visibility: hidden;"<% end %>></span>
      <span><%= micropost.micropost_retweet_users.length %></span>
    <% end %>